'''
This is a template file, please duplicate this file and 
fill in the fields with your keys

NEVER COMMIT YOUR API KEYS IN GIT (config.py will be ignored by git)
'''

config = {
    "GROOT_TOKEN" : "MY CONSUMER KEY",
}
