.select2-container{
    height: 100%;
    font-size: 15px;
    width: 60vw !important;
    float: left;
    padding-left: 15px;
    font-size: 1.2em;
    background-color:rgba(0, 0, 0, 0);
    padding: 10px;
    border: none;
    transition: border 0.3s;
    box-shadow: inset 0 1px 2px rgba(0,0,0,0);
    border: none;
    border-bottom: solid 1.5px #000000;
    transition: border 0.3s;
}

.select2-container.light {
    border-bottom: solid 1.5px #282828;
    color:#333333;
}

.select2-container.dark {
    border-bottom: solid 1.5px #ffffff;
    color:#ffffff;
}

.select2-selection__choice.light {
    color:#333333;
}

.select2-selection__choice.dark {
    color:#333333;
}

.select2-search .select2-search--inline {
    padding-bottom: 5px;
}

.select2-selection__rendered {
    transform: translate(0, -10px);
}

.select2-search__field::placeholder {
    font-family: 'Open Sans', 'HelveticaNeue-Light', "Helvetica Neue Light", sans-serif !important;
    font-size: 1em;
    opacity: 1; /* Firefox */
    color:#333333;
}
.select2-search__field.light::placeholder {
    color:#333333;
}
.select2-search__field.dark::placeholder {
    color:#ffffff;
}

.select2-search__field.light {
    color:#333333;
}
.select2-search__field.dark {
    color:#ffffff;
}


.select2-search__field {
    background-color:rgba(0, 0, 0, 0);
}

.select2-container--open .select2-dropdown--below {
    transform: translate(0, -10px);
    border-top: none;
    border-radius: 0;
}

.select2-results__options {
    max-height: 35vh !important;
}

.select2-container--default .select2-selection--multiple {
    font-family: 'Open Sans', 'HelveticaNeue-Light', "Helvetica Neue Light", sans-serif !important;
    border: none !important;
    height: 100%;
    font-size: 15px;
    width: 97%;
    float: left;
    padding-left: 15px;
    font-size: 1.2em;
    background-color:rgba(0, 0, 0, 0) !important;
    padding: 10px;
    transition: border 0.3s;
    box-shadow: inset 0 1px 2px rgba(0,0,0,0);
    color:#333333;
}

.select2-result-repository__avatar {
    float: left;
    width: 60px;
    margin-right: 10px;
}

.select2-result-repository__avatar img {
    width: 100%;
    height: auto;
    border-radius: 2px;
    border: 0;
}

.select2-result-repository__meta {
    margin-left: 70px;
}

.select2-result-repository__title {
    font-family: "Roboto Mono", monospace;
    color: black;
    /*font-weight: 700;*/
    word-wrap: break-word;
    line-height: 1.1;
    margin-bottom: 4px;
}

.select2-result-repository__description {
    font-size: 13px;
    color: #777;
    margin-top: 4px;
}


.select2-results__option[aria-selected] {
    height:100px;
    cursor: pointer;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: #5897fb;
    color: white;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: transparent;
    border: 0px;
    color: black;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
    color: #999;
    cursor: pointer;
    display: inline-block;
    font-weight: bold;
    margin-right: 2px;
    display: none;
}

.select2-container--focus {
    color: transparent;
}




.search-container{
    position: absolute;
    width: 70%;
    left: 50%;
    transform: translate(-50%, 320%);
  }
  #search-bar {
      height: 50px;
      width: 100%;
  }
  
  #url-textbox.light::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #464646;
    opacity: 1; /* Firefox */
  }
  
  #url-textbox.dark::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #fefefe;
    opacity: 1; /* Firefox */
  }
  
  #url-textbox:focus {
    outline:0;
  }
  
  #url-textbox:focus::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    opacity: 1; /* Firefox */
    color: transparent;
  }
  
  
  #url-textbox.light {
      height: 100%;
      font-size: 15px;
      width: 87%;
      float: left;
      padding-left: 15px;
      font-size: 1.2em;
      background-color:rgba(0, 0, 0, 0);
      padding: 10px;
      border: none;
      border-bottom: solid 1.5px #282828;
      transition: border 0.3s;
      box-shadow: inset 0 1px 2px rgba(0,0,0,0);
      color:#333333;
  }
  
  #url-textbox.dark {
      height: 100%;
      font-size: 15px;
      width: 87%;
      float: left;
      padding-left: 15px;
      font-size: 1.2em;
      background-color:rgba(0, 0, 0, 0);
      padding: 10px;
      border: none;
      border-bottom: solid 1.5px #fff;
      transition: border 0.3s;
      box-shadow: inset 0 1px 2px rgba(0,0,0,0);
      color:#fefefe;
  }