*,
*:before,
*:after {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

@-webkit-keyframes spin {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes spin {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

body {
    background-color: rgba(34, 34, 34, 0.1);
    font-family: "Open Sans""HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
    line-height: 1.5em;
    height: 100%;
    overflow: hidden
}

.logo {
    margin-left: 25px;
    margin-right: 20px;
    height: 56px;
    width: auto;
    transform: translateY(25px);
    display: inline-block;
}

#logo-vector {
    height: 75px;
    width: 75px;
}

#acm-title {
    position: relative;
}

#title-content {
    position: absolute;
    top: -30px;
    left: 0px;
}

.title-text {
    display: inline-block;
}

.title-text.light {
    color: #262626;
}

.title-text.dark {
    color: white;
}

#title-header {
    transform: translate(-15%, 160%);
    font-family: "Roboto Mono", monospace;
    font-size: 1.9375rem;
    font-weight: 400;
}

#title-sub {
    font-family: "Roboto Mono", monospace;
    font-size: 1.1em;
    font-weight: 400;
    transform: translate(-15%, 25%);
}

.top-bar {
    padding-top: 20px;
    padding-right: 20px;
}

.top-bar #login-btn {
    float: right;
}

.top-bar #logout-btn {
    float: right;
}

.button {
    display: inline-block;
    vertical-align: middle;
    margin: 0 0 1rem;
    padding: .85em 1em;
    -webkit-appearance: none;
    border: 1px solid transparent;
    border-radius: 0;
    -webkit-transition: background-color .25s ease-out, color .25s ease-out;
    transition: background-color .25s ease-out, color .25s ease-out;
    font-size: .9rem;
    line-height: 1;
    text-align: center;
    cursor: pointer;
    font-family: "Roboto Mono", monospace;
    vertical-align: middle;
    transform: translateY(15%);
    transition: all 0.5s ease-out;
    font-weight: normal;
    border: none;
    outline: none;
    height: 50px;
    width: 80px;
}

.button:focus {
    outline: 0;
}

.button.light {
    background-color: #262626;
    color: #fefefe;
}

.button.dark {
    background-color: #fefefe;
    color: #262626;
}

.button.light:hover {
    box-shadow: inset 0 0 110px 110px rgba(255, 255, 255, 0.15);
}

.button.dark:hover {
    box-shadow: inset 0 0 110px 110px rgba(0, 0, 0, 0.15);
}

#login-btn {
    padding-top: 15px;
    padding-bottom: 15px;
    margin-right: 5px;
}

#logout-btn {
    padding-top: 15px;
    padding-bottom: 15px;
    margin-right: 5px;
}

#import-btn {
    padding: .85em 1em;
    -webkit-appearance: none;
    border: 1px solid transparent;
    border-radius: 0;
    -webkit-transition: background-color .25s ease-out, color .25s ease-out;
    transition: background-color .25s ease-out, color .25s ease-out;
    font-size: .9rem;
    line-height: 1;
    text-align: center;
    cursor: pointer;
    font-family: "Roboto Mono", monospace;
    vertical-align: middle;
    transform: translateY(15%);
    transition: all 0.5s ease-out;
    font-weight: normal;
    border: none;
    outline: none;
    height: 100%;
    width: 10%;
    max-width: 150px;
    min-width: 70px;
    float: right;
    transform: translateY(0px);
}

#import-btn.light {
    background-color: #262626;
    color: #fefefe;
}

#import-btn.dark {
    background-color: #fefefe;
    color: #262626;
}

#import-btn:hover {
    box-shadow: inset 0 0 110px 110px rgba(0, 0, 0, 0.15);
}

#import-btn:focus {
    outline: 0;
    /*text-decoration: underline; */
}

@media (max-width:975px) {
    #import-btn {
        font-size: .7rem;
    }
}

.table {
    display: table;
    width: 100%;
    height: 100vh;
}

.table-cell {
    display: table-cell;
    vertical-align: middle;
}

#playbar {
    visibility: hidden;
    height: 0;
    width: 0;
}

#player-content {
    margin: 0 auto;
    position: relative;
    width: 400px;
    height: 400px;
}

#player-content #main {
    width: 400px;
    height: 400px;
    overflow: hidden;
    border-radius: 5px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    box-shadow: 0 10px 60px rgba(0, 0, 0, 0.6);
    background-color: white;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    z-index: 2;
    position: relative;
    -webkit-transition: -webkit-transform 0.4s ease-in-out;
    transition: -webkit-transform 0.4s ease-in-out;
    transition: transform 0.4s ease-in-out;
    transition: transform 0.4s ease-in-out, -webkit-transform 0.4s ease-in-out;
}

#player-content.show #main {
    -webkit-transform: translateX(-200px);
    transform: translateX(-200px);
}

#player-content.show ol {
    -webkit-transform: translateX(200px);
    transform: translateX(200px);
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.3);
    -webkit-transition: 0s box-shadow 0.05s, -webkit-transform 0.4s ease-in-out;
    transition: 0s box-shadow 0.05s, -webkit-transform 0.4s ease-in-out;
    transition: transform 0.4s ease-in-out, 0s box-shadow 0.05s;
    transition: transform 0.4s ease-in-out, 0s box-shadow 0.05s, -webkit-transform 0.4s ease-in-out;
}

#player-content .playback_controls {
    opacity: 0;
    color: rgba(0, 0, 0, 0.55);
    font-size: 22px;
    -webkit-transform: translateY(10px);
    transform: translateY(10px);
    -webkit-transition: opacity 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
    transition: opacity 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
    padding: 20px;
    width: 101%;
    position: absolute;
    left: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.95);
    z-index: 1;
}

#player-content .playback_controls .buttons {
    text-align: center;
    padding-left: 15px;
}

#player-content .playback_controls .buttons i {
    display: inline-block;
    padding: 0 15px;
    width: 48px;
    text-align: center;
    cursor: pointer;
}

#player-content .playback_controls .buttons i#playpause.loading {
    opacity: 0.4;
    position: relative;
}

#player-content .playback_controls .buttons i#playpause.loading:after {
    position: absolute;
    content: '';
    display: block;
    width: 50px;
    height: 50px;
    top: 50%;
    margin-top: -25px;
    margin-left: -28px;
    left: 50%;
    border: 3px solid #ddd;
    border-radius: 100%;
    border-right: 3px solid #4FB6EC;
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    -webkit-animation-name: spin;
    animation-name: spin;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
}

#player-content .playback_controls .menu {
    float: right;
    cursor: pointer;
    opacity: 0.2;
    -webkit-transition: opacity 0.2s;
    transition: opacity 0.2s;
}

.clear-queue {
    cursor: pointer;
    opacity: 0.2;
    -webkit-transition: opacity 0.2s;
    transition: opacity 0.2s;
    padding-right: 5px;
    position: absolute;
    left: 82%;
}

.clear-queue:hover {
    opacity: 0.6;
}

.clear-queue-hidden {
    display: none;
}

.volume-btn {
    float: left;
    cursor: pointer;
    -webkit-transition: opacity 0.2s;
    transition: opacity 0.2s;
}

#player-content .playback_controls .menu:hover {
    opacity: 0.6;
}

#main:hover .playback_controls,
.show #main .playback_controls {
    opacity: 1;
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
}

h2 {
    font-weight: 300;
    font-size: 16px;
    text-align: center;
    margin: 0 0 10px 0;
}

.time-holder {
    padding: 0 40px;
    padding-bottom: 10px;
}

.time-holder .slider {
    width: 100%;
    height: 50px;
    position: relative;
}

#progress-slider {
    width: 100%;
    height: 50px;
    position: relative;
}

.time-holder .slider:before {
    position: absolute;
    top: 50%;
    margin-top: -2px;
    left: 0;
    content: '';
    display: block;
    width: 100%;
    height: 3px;
    background-color: rgba(34, 34, 34, 0.075);
}

.time-holder .slider .fill {
    position: absolute;
    top: 50%;
    width: 100%;
    -webkit-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    margin-top: -2px;
    left: 0;
    content: '';
    display: block;
    height: 3px;
    background-color: #4FB6EC;
    -webkit-transition: -webkit-transform 1s;
    transition: -webkit-transform 1s;
    transition: transform 1s;
    transition: transform 1s, -webkit-transform 1s;
}

a {
    color: rgba(0, 0, 0, 0.55);
    text-decoration: none;
}

.time {
    font-size: 12px;
    font-weight: bold;
    opacity: 0.3;
    float: right;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

ol#playlist {
    list-style-type: none;
    margin-left: 0;
    width: 400px;
    padding-left: 0;
    position: absolute;
    height: 300px;
    background-color: #fff;
    margin: 0;
    font-size: 16px;
    top: 50px;
    overflow-y: auto;
    -webkit-transition: 0s box-shadow 0.3s, -webkit-transform 0.4s ease-in-out;
    transition: 0s box-shadow 0.3s, -webkit-transform 0.4s ease-in-out;
    transition: transform 0.4s ease-in-out, 0s box-shadow 0.3s;
    transition: transform 0.4s ease-in-out, 0s box-shadow 0.3s, -webkit-transform 0.4s ease-in-out;
    border-radius: 0 5px 5px 0;
}

ol#playlist a {
    display: inline-block;
    width: 300px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

ol#playlist>li {
    counter-increment: customlistcounter;
    padding: 12px 15px;
    height: 50px;
    position: relative;
}

ol#playlist>li:after {
    position: absolute;
    width: 300px;
    left: 9.5%;
    content: '';
    display: block;
    bottom: 0;
    border-bottom: 1px solid rgba(34, 34, 34, 0.1);
}

ol#playlist>li:last-child:after {
    border-color: transparent;
}

ol#playlist>li:hover {
    background-color: rgba(34, 34, 34, 0.02);
}

ol#playlist>li.playing {
    background-color: rgba(79, 182, 236, 0.15);
}

ol#playlist>li.playing:after {
    border-color: transparent;
}

ol#playlist>li.playing:hover {
    background-color: rgba(79, 182, 236, 0.2);
}

ol#playlist>li:before {
    content: counter(customlistcounter) " ";
    float: left;
    text-align: right;
    width: 1em;
    margin-right: 1em;
    font-size: 12px;
    font-weight: bold;
    opacity: 0.3;
    vertical-align: baseline;
    display: inline-block;
}

ol#playlist li:first-child {
    counter-reset: customlistcounter;
}

.slider {
    flex-grow: 1;
    background-color: #D8D8D8;
    cursor: pointer;
    position: relative;
}

.slider .progress {
    background-color: #428ff4;
    border-radius: inherit;
    position: absolute;
    pointer-events: none;
}

.slider .progress .pin {
    height: 16px;
    width: 16px;
    border-radius: 8px;
    background-color: #428ff4;
    position: absolute;
    pointer-events: all;
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.32);
}

.controls .slider {
    margin-left: 16px;
    margin-right: 16px;
    border-radius: 2px;
    height: 4px;
}

.controls .slider .progress {
    width: 0;
    height: 100%;
}

.controls .slider .progress .pin {
    right: -8px;
    top: -6px;
}

.volume {
    position: relative;
}

.volume .volume-btn {
    cursor: pointer;
}

.volume .volume-controls {
    width: 30px;
    height: 135px;
    background-color: rgba(169, 169, 169, 1);
    border-radius: 5px;
    position: absolute;
    left: -4px;
    bottom: 20px;
    flex-direction: column;
    align-items: center;
    display: flex;
}

.volume .volume-controls.hidden {
    display: none;
}

.volume .volume-controls .slider {
    margin-top: 12px;
    margin-bottom: 12px;
    width: 6px;
    border-radius: 3px;
}

.volume .volume-controls .slider .progress {
    bottom: 0;
    height: 100%;
    width: 6px;
}

.volume .volume-controls .slider .progress .pin {
    left: -5px;
    top: -8px;
}

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 100;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
    padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    width: 400px;
    /* Could be more or less, depending on screen size */
    /*This should be constant size, since content is static, note: this is not responsive, but having a modal on a 300px wide display doesnt make a lot of sense, so might want to use media tags for displays < 400px wide*/
    height: 400px;
    position: relative;
    display: block;
    top: 50%;
    left: 50%;
    margin: -200px 0 0 -200px;
    padding: 10px;
}

.field input[type="text"] {
    padding: 10px;
    border: none;
    border-bottom: solid 1.5px #282828;
    transition: border 0.3s;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0);
    color: #464646;
}

.field input[type="text"].focus {
    border-bottom: solid 2px #333333;
}

select {
    border: none;
    border-bottom: solid 1.5px #282828;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0);
    background-color: white;
    transition: border 0.3s;
    color: #464646;
}

select.focus {
    border-bottom: solid 2px #333333;
    color: #464646;
}

.field input[type="password"] {
    padding: 10px;
    border: none;
    border-bottom: solid 1.5px #282828;
    transition: border 0.3s;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0);
    color: #464646;
}

.field input[type="text"].focus {
    border-bottom: solid 2px #313131;
}

.login-input {
    margin-top: 10px;
    margin-bottom: 30px;
    font-weight: 400;
}

.login-text {
    line-height: 1.5;
    padding-left: 5px;
    width: 100%;
}

#submit-btn {
    width: 80px;
    height: 50px;
    margin: 0;
    display: block;
    margin-top: 28px;
    line-height: 1;

    -webkit-appearance: none;
    -webkit-transition: background-color .25s ease-out, color .25s ease-out;
    transition: background-color .25s ease-out, color .25s ease-out;
    font-size: .9rem;
    text-align: center;
    cursor: pointer;
    font-family: "Roboto Mono", monospace;
    vertical-align: middle;
    transition: all 0.5s ease-out;
    font-weight: normal;

    background-color: #262626;
    color: #fefefe;
    border: none;
    outline: none;
}

#submit-btn:hover {
    box-shadow: inset 0 0 110px 110px rgba(255, 255, 255, 0.15);
}

#submit-btn:focus {
    outline: 0;
}

.container {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    padding-top: 75px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 40px;
}

/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {
        -webkit-transform: scale(0)
    }

    to {
        -webkit-transform: scale(1)
    }
}

@keyframes animatezoom {
    from {
        transform: scale(0)
    }

    to {
        transform: scale(1)
    }
}

.spinner {
    margin: 10px auto;
    width: 70px;
    height: 50px;
    text-align: center;
    font-size: 10px;
    display: none;
}

.spinner>div {
    background-color: #282828;
    height: 100%;
    width: 6px;
    display: inline-block;

    -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
    animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s;
}

.spinner .rect3 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
}

.spinner .rect4 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
}


@-webkit-keyframes sk-stretchdelay {
    0%,
    40%,
    100% {
        -webkit-transform: scaleY(0.4)
    }

    20% {
        -webkit-transform: scaleY(1.0)
    }
}

@keyframes sk-stretchdelay {
    0%,
    40%,
    100% {
        transform: scaleY(0.4);
        -webkit-transform: scaleY(0.4);
    }

    20% {
        transform: scaleY(1.0);
        -webkit-transform: scaleY(1.0);
    }
}

#loader {
    display: none;
    font-size: 30px;
}

#checkmark {
    display: none;
    font-size: 30px;
}

#checkmark.animate {
    transition: all 0.75s;
}