$left-bound: 15;

#main-root {
  position: absolute;
  background-image: url("https://i.pinimg.com/originals/71/d7/4a/71d74adbc9715add11589197a50260c8.jpg");
  background-size: 100% 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90%;
  width: 100 - $left-bound + %;
  left: $left-bound + %;

  .RML-btn {
    border: 1px solid black;
  }
}

#login-btn {
  position: absolute;
  top: 20px;
  right: 20px;
}