<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>ACM Concert</title>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="{{ url_for('static',filename='app.js') }}" type="text/javascript"></script>
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
    </head>

    <body>
        {% if current_user.is_authenticated %}
            <h2>Hi {{ current_user.first_name }}!</h2>
                <form action="/logout" method="post">
                <button name="logout">Logout</button>
            </form>
        {% else %}
            <div>
                <form action="/login" method="post">
                  username: <input type="text" name="username"><br>
                  password: <input type="password" name="password"><br>
                  <input type="submit" value="Submit">
                </form>
            </div>
        {% endif %}
        
        <div id="page-wrapper">
            <div id="form-wrapper">
                <input type="text" id="url-textbox" placeholder="Type in a youtube playlist URL here"/>
                <input type="submit" id="import-button" value="Import"/>
            </div>         
            
            <div id="previous-button" class="button"></div>
            <div id="play-pause-button" class="play button"></div>
            <div id="skip-button" class="button"></div>
            <div id="song-name">No Song Playing</div>
            <div id="volume-slider-wrapper">
                <input type="range" min="1" max="100" value="70" class="slider" id="volume-slider">
            </div>
            <div id="progress-slider-wrapper">
                <h3>Progress Bar</h3>
                <input type="range" min="1" max="100" value="0" class="slider" id="progress-slider">
            </div>
        </div>
    </body>
</html>