body {
    background-color: steelblue;
}

#page-wrapper {
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin-top: 20%;
    width: 100%;
    height: 100%;
    text-align: center;
    position: relative;
}

#page-wrapper > *{
    
}

#url-textbox {
    font-size: 40px;
    height: 40px;
    width: 700px;
    display: inline-block;
}

#import-button {
    font-size: 40px;
    height: 55px;
    width: 200px;
    display: inline;
}

#skip-button {
    background: url("assets/previous.png");
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}
#previous-button {
    background: url("assets/previous.png");
}
.play {
    background: url("assets/play.png");
}

.pause {
    background: url("assets/pause.png");
}

.button {
    width: 50px;
    height: 50px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    display: inline-block;
}